
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.nutrition{
    display: flex;
    
}
.nurtit{
    margin-left: 100px;
}
.inform{
    background-color:#e7fafe;
    border-radius: 25px;
}
.recip{
    margin-top: 10px;
}
.lor{
    margin-top: 15px;
}

.bann .container {
    background-color:#e7fafe;
    border-radius: 20px;
    overflow: hidden;
    padding: 0;
}
.titl{
    text-align: center;
    padding-left: 25px;   
}
.formu{
    text-align: center;
    margin-top: 10%;
}
.colonne{
    background-color: white;
    height: 60px;
    border-radius: 15px;
   width: 40%;
    border: none;
   
}
.POIN {
    border: none;
    width: 250px;
}

.images{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
   
}

.images img {
    width: 200px;
}
.titre{
    text-align: center;
    margin-top: 8%;
}


.food{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
}

.food_top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
}

.droite a {
    text-decoration: none;
    color: black;
}
.webe{
    display: flex;
}
.web{
    color: red;
}

@media (max-width:400px) {
    .POIN {
        border: none;
        width: 130px;
    }
    .float-end{
        width: 20px;
    }
    .titl{
        text-align: center;
        font-size: 10px;
        padding-left: 2px; 
        margin-top: 15px;  
    }
    .title{
        text-align: center;
        font-size: 10px;
    }
    .colonne{
        background-color: white;
        height: 80px;
        border-radius: 15px;
       width: 95%;
        border: none;
        gap: 10em;
        font-size: 15px; 
    }
    .inform{
        margin-top: 5px;
    }
.sub {
    width: 20%;
    font-size: 8px;
}
.face{
    margin-left: 3px;
    padding-left: 5px;
    
}

.faceb{
    padding: 2px;
}
.foot{
    margin-top: 5%;
    font-size: 10px;
}
.navbar-brand{
    font-size: 10px;
}
}
 
@media (max-width: 800px,1024px) {
    .POIN {
        border: none;
        width: 170px;
    }
    .colonne{
        background-color: white;
        height: 40px;
        border-radius: 15px;
       width: 70%;
        border: none;
        gap: 10em;
        font-size: 20px; 
    }
    .inform{
        margin-top: 10px;
    }
.sub {
    width: 25%;
    font-size: 10px;
}
.face{
    margin-left: 5px;
    
}

.faceb{
    padding: 4px;
}
.foot{
    margin-top: 10%;
    font-size: 15px;
    padding-left: 5px;
}
.navbar-brand{
    font-size: 15px;
    
}
.navbar-nav{
    margin-right: 100%;
    padding-right: 20%;
    font-size: 5px;
}
.twitt{
    margin-left: 250px;
}
}
 
